.Aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  flex-shrink: 0;
  padding-right: 7px;
  overflow: hidden;
  background-color: var(--bg-color-dark);
  transition: all 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.Aside.hidden {
  min-width: 0;
  flex-grow: 0;
  flex-basis: 0;
  transform: translate(-10px, 0);
}

.Aside__btn-container {
  padding: 15px 0;
  padding-bottom: 5px;
  padding-right: 15px;
  text-align: end;
}

.Aside__content-container {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Aside__credits {
  overflow: hidden;
  flex-grow: 1;
  padding: 15px;
  background-color: var(--bg-color-dark);
  border-radius: var(--rounded);
  margin: 10px;
}

.Aside ul {
  list-style: none;
  padding-bottom: 5px;
  padding-left: 15px;
}
.Aside__li a {
  display: block;
  padding: 7px 12px;
  margin: 5px 0;
  margin-right: 7px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: var(--rounded);
  cursor: pointer;
}
.Aside__li a:hover {
  text-decoration: none;
  background-color: var(--bg-color-light);
}

.Aside__li.active a {
  background-color: var(--bg-color-light);
}

@keyframes asideitem-fadein {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  20% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
