.AsideBtn {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--rounded);
  transition: transform 0.2s ease-in-out;
}

.AsideBtn:hover {
  background-color: var(--bg-color-light);
}

.AsideBtn svg {
  width: 100%;
  height: 100%;
  color: var(--text-color-light);
}
